#call-window *{
    width: auto;
}

.flex-row{
    margin: 20px 0;
    display: flex;
    flex-direction: row;   
}

.flex-row *{
    margin-right: 15px;
}

.calls-table{
    display: grid;
}

.calls-table-header, .calls-table-row{
    margin: 5px 0;
    display: flex;
    flex-direction: row;
    border-top: 1px solid black;
}

.calls-table-header{
    font-weight: bold;
    border: 1px solid black;
}