#call-window{
    margin: 40px 0;
    display: none;
}

#call-window input{
    width: auto;
}


#call-window #call-form{
    margin: 20px 0;
    display: flex;
    flex-direction: row;   
}

#call-window #call-form *{
    margin-right: 15px;
}

.calls-table{
    display: grid;
}