#call-window *{
    width: auto;
}

.flex-row{
    margin: 20px 0;
    display: flex;
    flex-direction: row;   
}

.flex-row *{
    margin-right: 5px;
}

.calls-table{
    text-align: center;
}

.calls-table th, .calls-table td{
    border: 1px solid black;
    width: 300px;
    padding: 2px 4px;
}

.link-to-guide{
    margin-left: 10px;
}

.block{
    margin: 10px 0;
}