section{
    margin: 15px 0;
}

.call-recs-block{
    margin: 10px 0;
}

.call-recs-block a{
    display: block;
    margin: 3px 0;
}

.input-field{
    margin: 3px 0;
}

.recs-table{
    text-align: center;
}

.recs-table th, .recs-table td{
    border: 1px solid black;
    min-width: 300px;
    padding: 2px 4px;
}

#call-recs-navbar button{
    padding: 0;
}