section{
    margin: 15px 0;
}

#get-call-recs-form{
    margin: 10px 0;
}
.call-recs-block{
    margin: 10px 0;
}

.call-recs-block a{
    display: block;
    margin: 3px 0;
}

.input-field{
    margin: 8px 0;
}

.recs-table{
    text-align: center;
}

.recs-table th, .recs-table td{
    border: 1px solid black;
    padding: 2px 4px;
}

#call-recs-navbar button{
    cursor: pointer;
    padding: 1px 5px;
    font-size: 0.7em;
}

.link-to-guide {
    margin-left: 10px !important;
    display: inline !important;
}

#access-token-out{
    max-width: 90vw;
    overflow: auto;
}

.text-block{
    margin: 3px 0;
    font-style: italic;
}
