pre {
    padding: 10px;
    width: 100%;
    background-color: lightgray;
}

input {
    width: 500px;
}

label {
    display: inline-block;
    width: 80px;
}

li {
    padding: 4px;
}

.content *{
    width: auto;
}

.flex-row{
    margin: 20px 0;
    display: flex;
    flex-direction: row;   
}

.flex-row *{
    margin-right: 5px;
}

.calls-table{
    text-align: center;
    margin-bottom: 15px;
}

.calls-table th, .calls-table td{
    border: 1px solid black;
    width: 300px;
    padding: 2px 4px;
}

.link-to-guide{
    margin-left: 10px;
}

.block{
    margin: 10px 0;
}

#get-avatar-output img, #get-multiple-avatars-output img{
    margin: 5px 5px 5px 0;
}

.text-info{
    margin: 3px 0;
    font-style: italic;
}

section{
    margin: 15px 0;
}

#get-call-recs-form{
    margin: 10px 0;
}
.call-recs-block{
    margin: 10px 0;
}

.call-recs-block a{
    display: block;
    margin: 3px 0;
}

.input-field{
    margin: 8px 2px;
}

.input-field input{
    margin-left: 4px;
}

.recs-table{
    text-align: center;
}

.recs-table th, .recs-table td{
    border: 1px solid black;
    padding: 2px 4px;
}

#call-recs-navbar button{
    cursor: pointer;
    padding: 1px 5px;
    font-size: 0.7em;
}

.link-to-guide {
    margin-left: 10px !important;
    display: inline !important;
}
